.content{
    padding:24px;
    display: flex;
    flex-direction: row;
    gap:16px;
}

.form-container{
    padding: 32px;
    padding-top: 8px;
    border: 1px solid gray;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 300px;
}

.button-container{
    display: flex;
    flex-direction: row;
    gap:8px;
    margin-top: 16px;
}



